@font-face {
    font-family: "Open Sans";
    src:
        url("../font/opensanslight.woff2") format("woff2"),
        url("../font/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: lighter;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("../font/opensans.woff2") format("woff2"),
        url("../font/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("../font/opensansbold.woff2") format("woff2"),
        url("../font/opensansbold.woff") format("woff");
    font-weight: 700;
    font-style: bold;

}