$red: #d22856;
$grey: #f2f2f2;
$lightgrey: #888;
$darkgrey: #dddfe0;
$white: #fff;
$black: #000;
$darkblue: #283645;

$fortypx: 40px;
$fiftypx: 50px;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0 auto;
	font: normal 400 18px/30px "Open Sans", Arial, sans-serif;
}

.wrapper {
	margin: 0 auto;

  @include mobile {
    width: 280px;
  }

  @include tablet {
    width: 620px;
  }

  @include desktop {
    width: 940px;
  }
}

.wrapper-form {
  @include mobile {
  margin: 0;
  width: 100%;
}

  &>*{
    
    @include mobile {
    width: 280px;
    margin: 0 auto;
  }
  }
}

.btn {
  width: 280px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
}