*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0 auto;
	font: normal 400 18px/30px "Open Sans", Arial, sans-serif;
}

.wrapper {
	margin: 0 auto;
	outline: 1px solid red;

  @include mobile {
    width: 280px;
  }

  @include tablet {
    width: 620px;
  }

  @include desktop {
    width: 940px;
  }
}
