@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mobile {
  @media screen and (min-width: 320px){
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 700px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px){
    @content;
  }
}
