@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mobile {
  @media screen and (max-width: 699px){
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 700px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px){
    @content;
  }
}
