.contacts {
	outline: 1px solid red;
	display: flex;
	flex-direction: column;
	text-align: center;

	&__title {
		font-size: 24px;
		font-weight: lighter;
		
	}

	&__data {
		font-size: 18px;
		font-weight: bold;
	}

	&__phone,
	&__email,
	&__address {
		text-decoration: none;
		font-size: 24px;
		font-weight: lighter;
		color: #ff0000;
		margin: 0;
	}
}

.contacts__info {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	@include mobile {
    flex-direction: column;
  	}

  	@include tablet {
    flex-direction: row;
    justify-content: space-around;
  	}

  	@include desktop {
    flex-direction: row;
    justify-content: space-around;
 	}
}