.filters-photo {
	background-color: $grey;
	padding-top: 20px;
	padding-bottom: 20px;
	
	&__actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	}

	&__range {
		border-top: 1px solid $darkgrey;
	}
}