.main-footer {
	display: flex;

	&__block {
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
		padding-bottom: 35px;


		@include mobile {
		flex-direction: column;
		align-items: center;
   	 	}

    	@include tablet {
      	flex-direction: row;
   	 	}

    	@include desktop {
    	flex-direction: row;
    	padding-top: 60px;
		padding-bottom: 60px;
    	}
	}

	&__index-hidden {
		@include mobile {
			display: none;
    	}
	}

	&__logo {

		&:hover {
		fill: $red;
		}

		&:active {
			fill: #D22856;
			opacity: 0.3;
		}

		@include mobile {
			margin-bottom: 35px;
			align-self: center;
   	 	}
   	 	transition: all 0.2s ease-in-out;
	}

	&__copyright {
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: 14px;
		line-height: 36px;
		font-weight: 400;
		margin-top: 8px;

		@include mobile {
			align-self: center;
   	 	}

		& a {
			margin-left: 15px;
		}

		&-logo {
		    width: 27px;
			fill: $red;
			transition: all 0.2s ease-in-out;

			&:hover {
				fill: #283645;
			}
			&:active {
				opacity: 0.3;
			}

		}
	}
}

.social-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	@include mobile {
	margin-bottom: 35px;
    }
}

.social-link {
	width: 50px;
	height: 50px;
	border: 4px solid $grey;
	border-radius: 100%;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
	
		&--twitter {
			background-image: url(../img/icon-twitter.svg);
			background-size: 18px 15px;
			background-position: center center;
			margin-right: 12px;
		}

		&--facebook {
			background-image: url(../img/icon-facebook.svg);
			background-size: 9px 19px;
			background-position: center center;
			margin-right: 12px;
		}

		&--youtube {
			background-image: url(../img/icon-youtube.svg);
			background-size: 15px 14px;
			background-position: 15px center;
		}

	&:hover {
		border: 4px solid #283645;
	}
	&:active {
		opacity: 0.3;
	}
}

.main-footer__logo {

	&--stars {
		@include mobile {
			display: none;
   	 	}
   	 	@include tablet {
			display: none;
   	 	}
	}

	&--glasses-full {
		@include desktop {
			display: none;
   	 	}

	}
	&--glasses-stars {
		@include mobile {
			display: none;
   	 	}
   	 	@include tablet {
			display: none;
   	 	}
		
	}
}

