.form {

    &-fields {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
    @include tablet {
        flex-direction: column;
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    }

    &-name {
        display: flex;
    @include mobile {
       flex-direction: column;
    }
    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
        order: 1;
        flex-basis: 48%;
    }
    &__text {
        border: 2px solid #e5e5e5;
        border-radius: 2px;
        font-size: 18px;
        line-height: 30px;
        outline: none;
        @include mobile {
            padding: 16px 20px 13px 22px; 
        }
    }
    }

    &-achievements {
    
    @include desktop {
        order: 4;
        flex-basis: 100%;
    }
        &__block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include mobile {
                flex-direction: column;
            }
            @include tablet {
                flex-direction: column;
            }
            @include desktop {
                flex-direction: column;
                height: 60px;
            }
        }

        &__checkbox {
            display: none;
        }

        &__item {
            position: relative;
            padding-left: 59px;
            min-height: 30px;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: -5px;
                width: 35px;
                height: 35px;
                background-color: $white;
                border: 2px solid #e5e5e5;
                border-radius: 2px;
            }
           
        }
    }

    &-contacts {
    
    @include desktop {
        order: 3;
        flex-basis: 100%;
    }

    &__data {
        display: block;
    }

    &__text {
        display: block;
    }

    &__block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include desktop {
        height: 60px;
        }
    }
    }

    &-app {
    @include mobile {
       
    }
    @include tablet {
        
    }
    @include desktop {
        order: 2;
        flex-basis: 48%;
    }
    &__item {
        display: block;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: -5px;
            width: 35px;
            height: 35px;
            background-color: $white;
            border: 2px solid #e5e5e5;
            border-radius: 50%;
        }
    }
    &__radio {
        display: none;
    }
    }

    &-textarea {
    
    @include mobile {
        width: 280px;
        height: 200px;
    }

    @include desktop {
        order: 5;
        flex-basis: 100%;
    }

    &__text {
        border: 2px solid #e5e5e5;
        border-radius: 2px;
        font-size: 18px;
        line-height: 30px;
        outline: none;
        overflow: auto;
    }
    }

    &-submit {
        display: flex;
        flex-basis: 100%;

        @include mobile { 
            flex-direction: column;
        }

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            order: 6;
            flex-direction: row;
            justify-content: space-between;
        }
    }   
}

.form-achievements__checkbox:checked+.form-achievements__item:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    display: block;
    width: 20px;
    height: 8px;
    border-left: 3px solid $red;
    border-bottom: 3px solid $red;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.form-app__radio:checked+.form-app__item:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-color: $red;
    border: 2px solid $red;
    border-radius: 50%;
}

.form-contacts__block *:nth-child(1) {
    @include tablet {
        order:2;
        }
        @include desktop {
        order:2;
        }
}
.form-contacts__block *:nth-child(2) {
    @include tablet {
        order:1;
        }
        @include desktop {
        order:1;
    }
}
.form-contacts__block *:nth-child(3) {
    @include tablet {
        order:4;
        }
        @include desktop {
        order:4;
        }
}
.form-contacts__block *:nth-child(4) {
    @include tablet {
        order:3;
        }
        @include desktop {
        order:3;
        }
}

.form-app__title,
.form-achievements__title, 
.form-name__title,
.form-contacts__title, 
.form-textarea__title{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: $red;
}

.travel-fon {
    background-color: $grey;
}

.btn {
    &--submit {
        background-color: #2aab6d;
        border-radius: 0;
        border: none;
        color: $white;
        text-transform: uppercase;
        width: 300px;
        height: 65px;

        &:hover {
            background-color: #1c9b5e;
        }
        &:active {
            background-color: #1c9b5e;
            color: #5cb78b;
        }
        &[disabled] {
            background-color: #e5e5e5;
            color: $white;
        }
    }
}

fieldset {
    border: 2px solid #e5e5e5;
    border-radius: 2px;

    @include mobile {
        border: none;
    }
}
