*, *::before, *::after {
  	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #283645;
}