.main-header.main-header__flow {
  position: static;
  background-color: $darkblue;
}

.main-header__expanded .main-menu, 
.main-header__flow .main-menu{
   @include mobile {
      display: block;
    }
    @include tablet {
      display: block;
    }
}

.main-header.main-header__expanded{
  background-color: $darkblue;
}

.main-header {
  position: absolute;
  width: 100%;
	display: flex; 
	flex-direction: row;
	background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.3);


  &__wrapper {
    @include desktop {
      width: 900px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

	&__block {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;

    @include mobile {
      height: 65px;
    }

    @include tablet {
      height: 110px;
    }
    @include desktop {
      height: 110px;
    }
  }

  &__block--toggle {
    width: 50px;
    height: 25px;
    background: none;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    @include desktop {
      display: none;
    }
  }

  &__block--logo {

    @include mobile {
      width: 75px;
      height: 23px;
      margin-bottom: 31px;
    }

    @include tablet {
      width: 150px;
      height: 41px;
      margin-bottom: 10px;
    }

    @include desktop {
      width: 150px;
      height: 41px;
      margin-bottom: 18px;
    }
  }

  &__text {
    text-align: center;
    color: $white;
    font-weight: 300;
    font-size: 24px;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  @include mobile {
      display: none;
    }
  @include tablet {
      display: none;
    }
}

.main-menu__list {
  display: flex;

  @include mobile {
    width: 100%;
    flex-direction: column;
    background-color: $darkblue;
  }

  @include tablet {
    width: 100%;
    flex-direction: column;
    background-color: $darkblue;
    }

  @include desktop {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-menu__item {
  list-style: none;
  transition: all 0.2s ease-in-out;

    @include mobile {
      border-bottom: 1px solid $black;
      border-top: 1px solid #495461;
      margin-right: 15px;
      text-align: center;
      
    }

    @include desktop {
      border-bottom: 1px solid $black;
      border-top: 1px solid #495461;
      margin-right: 15px;
    }

    @include desktop {
      border-bottom: 3px solid transparent;
      border-top: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
    @include desktop {
      border-bottom: 3px solid $white;
    }
    &:active {
    @include desktop {
      opacity: 0.3;
      border-bottom: 3px solid transparent;
    }
  }
  }
}

.main-menu__item a {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;

  @include desktop {
    font-weight: 400;
    text-transform: none;
  }
}

.logo-svg {
  fill: $white;

  &__text {
  }

  &__glasses {
    @include tablet {
        display: none;
      }

    &-full {

      @include mobile {
        display: none;
      }
      @include desktop {
        display: none;
      }

    }
    @include mobile {
      display: none;
    }
  }

  &__star {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }

  &:hover {
    fill: $red;
  }
  &:active {
    fill: $white;
    opacity: 0.3;
  }

  @include mobile {
    margin-left: -50px;
  }
}





