.info {
	background-color: $grey;
	display: flex;
	flex-direction: column;
	padding-top: 77px;
	
	&__table {
	display: flex;
	flex-direction: column;
	}
}

.info__table {
	list-style: none;
	margin: 0;
	padding: 0;

	&-wrapper {
		@include tablet {
			display: flex;
  			justify-content: flex-end;
  		}
	}

	@include mobile {
		background: url("../img/iphone-screen-mobile.png");
		background-repeat: no-repeat;
  		background-position: center 429px;
  	}

  	@include tablet {
  	}

  	@include desktop {
  		flex-direction: row;
  		justify-content: space-around;
  	}

	&-title {
		color: $black;
		font-size: 18px;
		font-weight: 700;
		text-align: center;

		@include desktop {
  			font-size: 26px;
  			font-weight: bold;
  			margin-bottom: 15px;
  		}
	}

	&-item p {
		margin: 0;
		line-height: 26px;
	}

	&-item {
		font-size: 14px;
		text-align: center;
		margin-bottom: 35px;

		@include tablet {
  			width: 310px;
  		}

		@include desktop {
  			width: 250px;
  		}
	}
}

.info__table:last-child {
	padding-bottom: 280px;

	@include tablet {
  		padding-bottom: 45px;
  	}

	@include desktop {
  		padding-bottom: 50px;
  	}
}