.intro {
	outline: 1px solid red;
	display: flex;
	flex-direction: column;
	background-color: #1d2631;
}

.btn {
	&--download {
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		text-decoration: none;
		border: 2px solid #fff;
		padding: 10px 35px;
		border-radius: 50px;
	}
}

.download-app {

	&__links {
		margin-top: 20px;
	}

	&__link img {
		margin: 0px 15px;
	}

	&__block {
		text-align: center;
		margin-top: 50px;
	}
	
	&__text {
		color: #f2f2f2;
		font-size: 14px;
		font-weight: 300;
	}
}