.intro {
	display: flex;
	flex-direction: column;
	background-color: #1d2631;
}

.btn {
	&--download {
		color: $white;
		border: 3px solid $white;

		@include tablet {
    		width: 300px;
    		padding: 14px 45px;
  		}
	}
}

.download-app {

	&__links {
		margin-top: 20px;
	}

	&__link img {
		margin: 10px 15px;
	}

	&__block {
		text-align: center;
		margin-top: 50px;
	}
	
	&__text {
		color: $grey;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		margin-top: 9px;
		margin-bottom: 46px;

		@include tablet {
    		font-size: 18px;
  		}
	}
}