.main-footer {
	outline: 1px solid red;
	display: flex;
	flex-direction: column;

}

.filters-photo__actions {
	display: flex;
	flex-direction: row;
}

.social-links {
	display: flex;
	flex-direction: row;
}