.map {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
        height: 200px;
        background-image: url("../img/bg-map.png");
        background-size: 100%;
    }


    @include tablet {
        height: 373px;
    }


    @include desktop {
        height: 495px;
    }


    &__inner {
        height: 100%;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        background: url("../img/bg-triangle-white-footer.svg") no-repeat;

        @include mobile {
            height: 35px;
            background-size: 100% 35px;
        }


        @include tablet {
            height: 72px;
            background-size: 100% 72px;
        }


        @include desktop {
            height: 105px;
            background-size: 100% 105px;
        }
    }
}