.map {
  width: 100%;
	height: 500px;
  background-image: url("../img/bg-map.png");
  background-repeat: no-repeat;
  background-size: cover;

  @include mobile {
    height: 200px;
    background-image: url("../img/bg-map.png");
  }

  @include tablet {
    height: 340px;
    background-image: url("../img/bg-map.png");
  }
}
