.post-photo {
  font-size: 14px;
  font-weight: 400;

  & > .wrapper {
    background-color: $grey;
  }

	&__photo--panorama {
   
		width: 100%;
    height: 500px;
  	background-image: url("../img/panorama-mobile.jpg");
		background-repeat: no-repeat;
  	background-size: cover;

		@include mobile {
   		height: 200px;
  		background-image: url("../img/panorama-mobile.jpg");
  	}

		@include tablet {
			height: 340px;
  		background-image: url("../img/panorama-mobile.jpg");
  	}
	}

  &__comment {
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 20px;

    & p {
      margin: 0;
      margin-bottom: 15px;
    }
  }

  &__comment-name {
    font-weight: 700;
  }

  &__comment-time {
    font-weight: 300;
    color: $lightgrey;
  }

  &__comment-like {
    color: $red;
    text-decoration: none;
  }
}