.post-photo {
	outline: 1px solid red;

	&__photo--panorama {
		width: 100%;
    	height: 500px;
  		background-image: url("http://placehold.it/940x500");
  		background-repeat: no-repeat;
  		background-size: cover;

  		@include mobile {
    		height: 200px;
    		background-image: url("http://placehold.it/320x140");
  		}

  		@include tablet {
   			height: 340px;
    		background-image: url("http://placehold.it/620x340");
  		}
	}
}