.post-photo {
	outline: 1px solid red;

  & > .wrapper {
    background-color: #f2f2f2;
  }

	&__photo--panorama {
		width: 100%;
    	height: 500px;
  		background-image: url("../img/panorama-mobile.jpg");
  		background-repeat: no-repeat;
  		background-size: cover;

  		@include mobile {
    		height: 200px;
    		background-image: url("../img/panorama-mobile.jpg");
  		}

  		@include tablet {
   			height: 340px;
    		background-image: url("../img/panorama-mobile.jpg");
  		}
	}

  &__comment-name {
    font-style: bold;
  }

  &__comment-time {
    font-style: normal;
    color: #888;
  }

  &__comment-like {
    color: #ff0000;
    text-decoration: none;
  }
}