.slider-review {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;

  &__name {
    font-weight: bold;
    font-size: 18px;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
  }

  &__table {

    @include mobile {
      width: 300%;
      transition: all 0.2s ease-in-out;

      &__element {
        width: 280px;
      }
    }
  }
}

.slider-review__control {
  @include mobile {
    &[id="slider-review-control-1"]:checked ~ .slider-review__table  {
      transform: translateX(0%);
    }

    &[id="slider-review-control-2"]:checked ~ .slider-review__table  {
      transform: translateX(-280px);
    }

    &[id="slider-review-control-3"]:checked ~ .slider-review__table  {
      transform: translateX(-560px);
    }
  }
}
