.slider-price {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  &__name {
    background-color: #283645;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__cost {
    background-color: #283645;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
  }

  &__table {

    @include mobile {
      width: 280%;
      transition: all 0.2s ease-in-out;

      th,
      td {
        width: 280px;
      }

      tr th:first-child,
      tr td:first-child {
        display: none;
      }
    }
  }

  & input {
    display: none;
  }

  &__controls {
    width: 75px;
    margin: 0 auto;
    padding-bottom: 35px;
    padding-top: 35px;
  }

  &__controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #bec2c7;
    margin-bottom: 2px;
    margin-right: 15px;
  }

    &__controls label:last-child {
    margin-right: 0px;
  }
}

.slider-price__control {
  &[id="slider-control-1"]:checked ~ .slider-price__table  {
    transform: translateX(0);
  }

  &[id="slider-control-2"]:checked ~ .slider-price__table  {
    transform: translateX(-33.3%);
  }

  &[id="slider-control-1"]:checked ~ .slider-price__table  {
    transform: translateX(-66.6%);
  }

  &[id="slider-control-1"]:checked ~ .slider-price__controls &-label[for~="slider-control-1"],
  &[id="slider-control-2"]:checked ~ .slider-price__controls &-label[for~="slider-control-2"],
  &[id="slider-control-3"]:checked ~ .slider-price__controls &-label[for~="slider-control-3"] {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: #283645 solid 4px;
    margin-bottom: 0;
  }
}
